UpdateWOTParentStatus_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateWOTParentStatus" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateWOTParentStatus" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EpseweraiWotStgCollection" type="EpseweraiWotStgCollection"/>
   <xs:complexType name="EpseweraiWotStgCollection">
      <xs:sequence>
         <xs:element name="EpseweraiWotStg" type="EpseweraiWotStg" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EpseweraiWotStg">
      <xs:sequence>
         <xs:element name="taskUuid" type="xs:base64Binary" minOccurs="0"/>
         <xs:element name="workorderUuid" type="xs:base64Binary" nillable="true"/>
         <xs:element name="feedStatus" type="string50" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
