UpdateWOTSewerAIData_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateWOTSewerAIData" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateWOTSewerAIData" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EpseweraiWotStg1Collection" type="EpseweraiWotStg1Collection"/>
   <xs:complexType name="EpseweraiWotStg1Collection">
      <xs:sequence>
         <xs:element name="EpseweraiWotStg1" type="EpseweraiWotStg1" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EpseweraiWotStg1">
      <xs:sequence>
         <xs:element name="taskUuid" type="xs:base64Binary"/>
         <xs:element name="workclassifiOi" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="feedStatus" type="string50" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
